@import '../../variables';
li {
  list-style-type: none;
}

.result-header {
  border-bottom: 2px solid $grey;
  padding-top: $spacing-var;
}

.single-flight-details {
  border: 1px solid $grey;
  margin: 5px;
  padding: $spacing-var;
}

.flight-details-list {
  margin-left: 0px;
  padding-left: 0px;
}

.normal-padding {
  padding: $spacing-var;
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.spacing-top {
  padding-top: 5px;
}

.spacing-bottom {
  padding-bottom: 5px;
}

@media only screen and (max-width: $small-device-width) {
  .flight-details-sm {
    width: 140px;
  }
  .blank-div {
    width: 0px;
  }
  .btn-container {
    margin-left: $spacing-var;
  }
}
