@import '../variables';
.flight-header {
  border-bottom: 2px solid $grey;
  padding-left: 25px;
}

.flight-container {
  padding: 10px 0px 10px 0px;
}

.view-container {
  margin: 0px;
}

.flight-result-form {
  min-height: 100%;
  padding-left: 0px;
  padding-right: 0px;
}

@media screen and (min-width: $small-device-width),
screen and (min-height: 850px) {
  .flight-result-form {
    min-height: 100vh;
    border-left: 1px solid $grey;
  }
  .flight-search-form {
    min-height: 100vh;
  }
}

@media only screen and (max-width: $small-device-width) {
  .flight-header {
    padding-left: $spacing-var;
  }
}
