@import '../../variables';
.tab {
  padding-top: $spacing-var;
}

.btn {
  @include rounded-corner(5px);
}

.tab-btn {
  @include rounded-corner(5px);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.search-form {
  border: 1px solid $grey;
}

.flight-details-form {
  padding: $spacing-var;
}

.one-way-btn {
  float: left;
}

.btn-selected {
  background-color: $light-grey;
  font-weight: bold;
  color: $white;
  border-bottom: none;
}

.errMsg {
  color: $error-color
}
