<div class="tab">
  <button class="btn btn-primary" (click)="oneWayClick()" [ngClass]="!showReturn? 'btn-selected' : ''">One way</button>
  <button class="btn btn-primary return-btn" (click)="returnClick()" [ngClass]="showReturn? 'btn-selected' : ''">Return</button>
</div>

<div class="search-form">
  <div *ngIf="errMsg">{{errMsg}}</div>
  <form (ngSubmit)="onSubmit(searchForm)" #searchForm="ngForm" novalidate>
    <div class="flight-details-form">

      <div class="form-group">
        <ng2-completer #source="ngModel" ngModel name="source" required placeholder="Enter Origin City" autoMatch="true" clearUnselected="true" [datasource]="cities" [minSearchLength]="0"></ng2-completer>
        <app-field-error *ngIf="submitted" [flightControl]="source"></app-field-error>
      </div>

      <div class="form-group">
        <ng2-completer #destination="ngModel" ngModel name="destination" required placeholder="Enter Destination City" autoMatch="true" clearUnselected="true" [datasource]="cities"
          [minSearchLength]="0"></ng2-completer>
        <app-field-error *ngIf="submitted" [flightControl]="destination"></app-field-error>
        <div *ngIf="locationErrorMsg" class="errMsg">{{locationErrorMsg}}</div>
      </div>

      <div class="form-group">
        <input class="form-control" placeholder="Departure Date" type="text" onfocus="(this.type='date')" required name="departureDate"
          appDateValidate #departureDate="ngModel" ngModel>
        <app-field-error *ngIf="submitted" [flightControl]="departureDate"></app-field-error>
      </div>

      <div class="form-group" *ngIf="showReturn">
        <input class="form-control" type="text" onfocus="(this.type='date')" required name="returnDate" appDateValidate #returnDate="ngModel"
          ngModel placeholder="Return Date">
        <app-field-error *ngIf="submitted" [flightControl]="returnDate"></app-field-error>
        <div *ngIf="dateErrorMsg" class="errMsg">{{dateErrorMsg}}</div>
      </div>

      <div class="form-group">
        <select class="form-control" id="noOfPassengers" required name="noOfPassengers" #noOfPassengers="ngModel" ngModel>
            <option value="" disabled selected>Passengers</option>
           <option *ngFor="let p of passengers"  [value]="p">{{p}}</option>
        </select>
        <app-field-error *ngIf="submitted" [flightControl]="noOfPassengers"></app-field-error>
      </div>

      <button type="submit" class="btn btn-primary mb-2">Search</button>
    </div>
  </form>
</div>
