/* importing the variables file*/
@import 'variables';

body {
  font: 100% $font-stack;
  color: $primary-color;
  background-color: $white;
}


/* Styles for auto-complete text box*/
::placeholder {
  color: $grey;
}


.completer-input {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: $primary-color;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
